.title{
    margin: 50px;
}
.font-color{
    color: red;
}
.student-review{
    margin-top: 35px;
    background-color: rgb(245, 238, 238);
}
.student-review img{
    width: 100px;
    border-radius: 50%;
}