.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
    margin-bottom: 100px;
}
.courses-title{
    margin: 50px;
    text-align: center;
    font-weight: bold;
}